        body {
            background-image    : url('/img/backgroundtexture.png');
            text-align          : center;
			background-size		: cover;
			background-repeat	: no-repeat;
			background-position	: center;
        }

		@font-face {
		font-family: pirate;
		src: url(PiratesBay.ttf); 
		}  


		
		
       .view {
            position    		: absolute;
            display     		: block;
			
			/*background-size		: 100vw 100vw;*/
  /*          background-position	: center;
            background-repeat	: no-repeat;*/
         	height      		: 100%;
            width       		: 100%;
			top					: 0px;
			left				: 0px;
			max-height			: 100%;
			max-width			: 100%;
        }

       /*.view {
            position    		: absolute;
            display     		: block;
			background-size		: 100% 100%;
            background-position	: center;
            background-repeat	: no-repeat;
           	background-size		: cover;
        }*/

		
        .button {
            position            : absolute;
            display             : block;
            background-color    : rgba(0, 0, 0, 0.05);
            background-repeat   : no-repeat;
            top                 : 7%;
			background-size		: 100% 100%;
        }

        /*START SCREEN*/    
        #start_button {
            padding : 10px, 20px;
            display : block;
            width   : 60vw;
            height  : 10vw;
        }

        /*PLANNING SCREEN*/
        .planning_area {
            position: absolute;
            width   : 90%;
            height  : 27%;
        }
		
		#planned_actions_area {
            
			width				: 55vw;
			height				: 20vw;
            top                 : 3%;
        }

        #action_button_area {
            
			width				: 60vw;
			height				: 60vw;
            top                 : 33%;
        }

        #execute_turn_button_area {
			
			width				: 30vw;
			height				: 60vw;
            top                 : 33%;
			left				: 66%;
        }

        .action_button{
            width           : 15vw;
            height          : 15vw;
        }
 
        .action_indicator{

        }
		
		.map_button{
			background-image 	: url('/img/map.png');
<<<<<<< HEAD
			top					:3%;
=======
			top					: 3%;
			left				: 2%;
			
>>>>>>> 9ae31611f8d1ad44310b4c34e6b83e0a81604910
		}
		
        #execute_turn_button{
            background-image    : url('/img/ready.png');
            width               : 25vw;
            height              : 25vw;
			top					: 13%;
			
             
        }

        #move_left_button{
            background-image    : url('/img/left-down.png');
			top: 39%; 
        }

        #move_right_button{
            background-image    : url('/img/right-down.png');
			top: 39%;
        }
		

        #move_up_button{
            background-image    : url('/img/left-up.png');
        }

        #move_down_button {
            background-image    : url('/img/right-up.png');
			
			
        }

        #interact_button{
            background-image    : url('/img/interact.png');
			top: 39%;
        }

        #dig_button{
            background-image    : url('/img/dig.png');
        }
		
<<<<<<< HEAD
		#planned_action_1 {
			border				: 2px solid black;
			background-color	: rgba(255, 255, 255, 0.5);
			line-height			: 65%;
			font-size			: 100;
			font-family			: pirate;
			border-radius		: 25px;
			
		}
		
		#planned_action_2 {
			border				: 2px solid black;
			background-color	: rgba(255, 255, 255, 0.5);
			line-height			: 65%;
			font-size			: 100;
			font-family			: pirate;
			border-radius		: 25px;
			
		}

               
=======
		/*MAP SCREEN*/
		.map_area{
			left				: 20%;
			top					: 5%;
		}
>>>>>>> 9ae31611f8d1ad44310b4c34e6b83e0a81604910
