        body {
            background-color    : burlywood;
            text-align          : center;
        }

       .view {
            position    		: absolute;
            display     		: block;
			/*background-size		: cover;*/
            background-position	: center;
            background-repeat	: no-repeat;
         	height      		: 100%;
            width       		: 100%;
/*			top					: 0px;
			left				: 0px;
			max-height			: 100%;
			max-width			: 100%;
*/        }

       /*.view {
            position    		: absolute;
            display     		: block;
			background-size		: 100% 100%;
            background-position	: center;
            background-repeat	: no-repeat;
           	background-size		: cover;
        }*/

		
        .button {
            position            : absolute;
            display             : block;
            background-color    : rgba(0, 0, 0, 0.05);
            background-repeat   : no-repeat;
            top                 : 7%;
        }

        /*START SCREEN*/    
        #start_button {
            padding : 10px, 20px;
            display : block;
            width   : 60vw;
            height  : 10vw;
        }

        /*PLANNING SCREEN*/
        .planning_area {
            position: absolute;
            width   : 90%;
            height  : 27%;
        }

        #planned_actions_area {

            background-color    : aquamarine;
            top                 : 0%;
        }

        #action_button_area {
            background-color    : darkgray;
            top                 : 33%;
        }

        #execute_turn_button_area {
            background-color    : blueviolet;
            top                 : 67%;
        }

        .action_button{
            width           : 7vw;
            height          : 7vw;
        }
 
        .action_indicator{

        }

        #execute_turn_button{
            background-image    : url('/img/ready.png');
            width               : 50%;
            height              : 7vw;
             
        }

        #move_left_button{
            background-image    : url('/img/left_down.png');
        }

        #move_right_button{
            background-image    : url('/img/right_down.png');
        }

        #move_up_button{
            background-image    : url('/img/left_up.png');
        }

        #move_down_button {
            background-image    : url('/img/right_up.png');
        }

        #interact_button{
            background-image    : url('/img/interact.png');
        }

     

        #dig_button{
            background-image    : url('/img/dig.png');
        }
               
